.sidebar {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: flex-start; /* Align items to the left */
}

.sidebar__header {
  display: flex;
  align-items: center; /* Align avatar and username horizontally */
  gap: 16px; 
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 100px;
  object-fit: cover;
}

.sidebar__username {
  font-weight: 700;
  font-size: 1.2rem;
  color: black;
}

.sidebar__buttons {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column; 
}

.sidebar__edit-btn,
.sidebar__signout-btn {
  border: none;
  background-color: transparent;
  font-weight: 700;
  cursor: pointer;
  padding: 6px 0;
}
