.footer {
    display: flex;
    justify-content: space-between;  /* Distribute space between left and right sections */
    align-items: center;             /* Vertically center the content */
    padding: 0 20px 24px;
    background-color: #f3f3f3;       /* Match the background color of the page */
    color: black;                    /* Adjust text color if needed for contrast */
    position: fixed;                 /* Fix the footer to the bottom of the page */
    bottom: 0;
    width: 100%;                     /* Full width */
  }
  
  .footer__left,
  .footer__right {
    font-size: 14px;                 /* Adjust font size */
  }
  
  .footer__left {
    text-align: left;
  }
  
  .footer__right {
    text-align: right;
    padding-right: 40px;
  }
  

  @media (max-width: 600px) {
    .footer {
      flex-direction: column;       /* Stack the items vertically on small screens */
      text-align: center;           /* Center align the text */
    }
  
    .footer__left,
    .footer__right {
      margin-bottom: 5px;           /* Add some space between the text blocks */
    }
  }
  